.NavbarItems {
    background: #b3d0fd;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0,
    0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-logo {
    font-size: 20px;
    color: #486E9E;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
    text-shadow: 2px 2px #7EA1D5;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: #7597ca;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #93b5e7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}